body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lightblue;
    font-family:cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    color:black;
    background-color:lightgray;
    
}

.Address {
    font-size: 30px;
    text-align: center;
}
#ResortName{
    text-align: center;
    font-size: 50px;

}

#AboutHeader{
    font-size: 20px;
    color:blue;
}

#AboutBody{
    font-size: 14px;
    color:crimson;
}
div.moviewrapper{

 width: 640px;
 height: 360px;
 margin: 0 auto;
}

.About{
    font-size: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;

}
