@{
    ViewBag.Title = "About";
}

<h1 class="ContactHeader">
    <img src="~/Content/Images/SandalsHeader.png" />
</h1>

    <h2 id="AboutHeader">About Sandals Resorts International</h2>
    <p id="AboutBody">Family-owned Sandals Resorts International (SRI) has transformed itself from one brand and one resort in Montego Bay, Jamaica to become one of the most well-known and award-winning hospitality companies in the world. With five brands and 24 properties in seven countries including Antigua, The Bahamas, Grenada, Barbados, Jamaica, Saint Lucia and Turks and Caicos, Sandals Resorts International is the undisputed leader of Caribbean vacation experiences and remains fiercely committed to the region, dedicating itself to innovative resort development that in the words of Chairman and Founder Gordon "Butch" Stewart, "exceed expectations" for guests, associates and the people who call the Caribbean home.</p>
    
    
<p></p>
